<%= form_for @sign do |f| %>
  <p>
    <%= f.label :sign %>
    <%= f.text_field :sign %>
  </p>
  <p>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.submit 'Add sign' %>
  </p>
<% end %>

<%= @signs.each do |sign| %>
  <ul>
    <li>
      <%= link_to "#{sign.sign}", sign_path(sign) %>, <%= sign.color %>
    </li>
  </ul>
<% end %>